<div class="info-result" id="info-result">
    <div id="results">
        <div class="span12">
            <h1>
                <img class="inline" src="assets/images/topic_space_icon.png"/> Topic Space</h1> </div>
                <h3><div id="h1"></div></h3>   
                <h4 id="james bone" class="span12">
                </h4>
                <div id="info-result" class="row-fluid">

                    <script>
                    html = "";

                    if (topicSpaceModel.attributes[1].bibID != "uiu_ " && topicSpaceModel.attributes[0]!= "uiu_")
                    {
                        $("#h1").append("Related Books");
                        html += "<div class=\"span5\" style='width: 520px'>";
                        html += "<table style=\"margin-bottom: 0 !important; vertical-align: middle;\">"; 
                        html += "<tr>";
                        html += "<td style=\"vertical-align: middle;min-width: 161px;\">";   
                        html += "<img src='' id='book-image1' class='rounded-img2'>";
                        html += "</td>"; 
                        html += "<td><br>";
                        html += "<table>";
                        html += "<th style='min-width: 146px'>Title</th>";
                        html += "<td style='min-width: 165px'><%=model.attributes[0].titles%></td>";
                        html += "</tr>";
                        html += "<tr>";
                        html += "<th>Author</th>";
                        html += "<td><%=model.attributes[0].authors%></td>";
                        html += "</tr>";
                        html += "<tr>";
                        html += "<th>Call Number Range</th>";
                        html += "<td><%=model.attributes[0].callNumberRange%></td>";
                        html += "</tr>";
                        html += "<tr>";
                        html += "<th>Call Number</th>";
                        html += "<td><%=model.attributes[0].bookCallNumber%></td>";
                        html += "</tr>";
                        html += "<tr style = 'display: none'>";
                        html += "<th>Bib ID</th>";
                        html += "<td><div id='bib-id'><%=model.attributes[0].bibID%></div></td>";
                        html += "</tr>";
                        html += "</table>";
                        html += "</td>";
                        html += "</tr>"; 
                        html += "</table></div>";

                        html += "<div class=\"span5\" style=\"width: 520px;\"><table style=\"margin-bottom: 0 !important; vertical-align: middle;\">"; 
                        html += "<tr>";
                        html += "<td style=\"vertical-align: middle; min-width: 161px;\">";   
                        html += "<img src='' id='book-image2' class='rounded-img2'>";
                        html += "</td>"; 
                        html += "<td><br>";
                        html += "<table>";
                        html += "<th style='min-width: 146px'>Title</th>";
                        html += "<td style='min-width: 165px'><%=model.attributes[1].titles%></td>";
                        html += "</tr>";
                        html += "<tr>";
                        html += "<th>Author</th>";
                        html += "<td><%=model.attributes[1].authors%></td>";
                        html += "</tr>";
                        html += "<tr>";
                        html += "<th>Call Number Range</th>";
                        html += "<td><%=model.attributes[1].callNumberRange%></td>";
                        html += "</tr>";
                        html += "<tr>";
                        html += "<th>Call Number</th>";
                        html += "<td><%=model.attributes[1].bookCallNumber%></td>";
                        html += "</tr>";
                        html += "<tr style = 'display: none'>";
                        html += "<th>Bib ID</th>";
                        html += "<td><div id='bib-id2'><%=model.attributes[1].bibID%></div></td>";
                        html += "</tr>";
                        html += "</table>";
                        html += "</td>";
                        html += "</tr>";
                        html += "</table></div>";
                        $("#results").append(html);
                    }

                    else if (topicSpaceModel.attributes[0].bibID != "uiu_ ")
                    {
                        $("#h1").append("Related Book");
                        html += "<div class=\"span8\">";
                        html += "<table style=\"margin-bottom: 0 !important; vertical-align: middle;\">"; 
                        html += "<tr>";
                        html += "<td style=\"vertical-align: middle; min-width: 161px;\">";   
                        html += "<img src='' id='book-image1' class='rounded-img2'>";
                        html += "</td>"; 
                        html += "<td><br>";
                        html += "<table>";
                        html += "<th>Title</th>";
                        html += "<td style='min-width: 400px'><%=model.attributes[0].titles%></td>";
                        html += "</tr>";
                        html += "<tr>";
                        html += "<th>Author</th>";
                        html += "<td><%=model.attributes[0].authors%></td>";
                        html += "</tr>";
                        html += "<tr>";
                        html += "<th>Call Number Range</th>";
                        html += "<td><%=model.attributes[0].callNumberRange%></td>";
                        html += "</tr>";
                        html += "<tr>";
                        html += "<th>Call Number</th>";
                        html += "<td><%=model.attributes[0].bookCallNumber%></td>";
                        html += "</tr>";
                        html += "<tr style = 'display: none'>";
                        html += "<th>Bib ID</th>";
                        html += "<td><div id='bib-id'><%=model.attributes[0].bibID%></div></td>";
                        html += "</tr>";
                        html += "</table>";
                        html += "</td>";
                        html += "</tr>"; 
                        html += "</table></div>";
                        $("#results").append(html);
                       // var bib_id = document.getElementById('bib-id').innerHTML;
                        //var url = "http://localhost:8080/api/display/" + bib_id;
                        //$.getJSON(url , function(obj) {
                          //  $("#book-image1").attr("src", obj.thumbnail);
                         //   //document.getElementById("book image").innerHTML="<center><img src='http://secure.syndetics.com/index.aspx?type=xw12&isbn=0062731653/LC.JPG&client=uillurch'></center>";
                       // });
                        //$('book image').error(function(){
                        //$(this).attr('src', 'no_photo.jpeg');
                    }
                    else
                    {
                        document.getElementById("james bone").innerHTML = "No related books to be found.";
                    }
                    //if (topicSpaceModel.attributes[1].bibID != "uiu_ ")
                    //{
                    //    html = "</center>";
                    //    $("#results").append(html);
                    //}
                    
                    </script>
                    </div>
                    </div>
                    </div>
                    <style>
                        .rounded-img2 {
                            display: -webkit-inline-box;
                            height: 250px;
                            max-width: 159px;
                            margin: 0px;
                            border: solid 1px #000;
                            overflow: hidden;
                            -webkit-border-radius: 0px;
                            -moz-border-radius: 0px;
                            border-radius: 0px;
                            -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
                            -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
                            box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
                        }
                    </style>
                    <script type="text/javascript" src="jquery-1.4.2.min.js"></script>
                    