<div id="info-result">
  <div class="result centered" >
    <h1>Related Books</h1>
      <table class="table table-bordered" layout="fixed" width="300px">
        <tr>
          <th>Title</th>
          <td><%=model.attributes[1].titles%></td>
        </tr>
        <tr>
          <th>Author</th>
          <td><%=model.attributes[1].authors%></td>
        </tr>
        <tr>
          <th>Call Number Range</th>
          <td><%=model.attributes[1].callNumberRange%></td>
        </tr>
        <tr>
          <th>Call Number</th>
          <td><%=model.attributes[1].bookCallNumber%></td>
        </tr>
        <tr>
          <th>Bib ID</th>
          <td><%=model.attributes[1].bibID%></td>
          </tr>
      </table>
    </div>
</div>
